[Desktop Entry]
Type=Application
Name=GPU Manager
X-GNOME-FullName=GPU Manager
Comment=Utility for managing graphics and power profiles
Icon=/home/$USER/.ElementaryGPUManager/intel-nvidia-icon.png
NoDisplay=false
Exec=/home/$USER/.ElementaryGPUManager/gpu-manager.py
Path=/home/$USER/.ElementaryGPUManager
Terminal=false
X-GNOME-UsesNotifications=false
Categories=System;
