[Desktop Entry]
Type=Application
Name=GPU Manager
Comment=Utility for managing graphics and power profiles
Icon=/opt/ElementaryGPUManager/intel-nvidia-icon.png
Exec=/opt/ElementaryGPUManager/gpu-manager.py
Path=/opt/ElementaryGPUManager
NoDisplay=false
Terminal=false
Categories=System;
